label {
  margin: 10px 0px 10px 0px;
}

.navbar-link {
  color: grey;
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px 10px 20px;
}
.logos {
  max-width: 40%;
}

.form-create {
  padding-left: 50px;
}
.submit-button {
  display: block;
  margin-top: 20px;
}
.navbar-link:hover {
  color: rgb(101, 101, 101);
}
